.footer
    p 客户服务热线：0571-88638018 地址:杭州余杭中泰工业园区
    p Copyright©杭州筑宝建材有限公司 All Rights Reserved (2012-2013)版权所有 复制必究

script(src="/scripts/page/enterpriseSite/jquery-1.5.2.min.js")
script(src="/scripts/page/enterpriseSite/main.js")
script(src="/scripts/page/enterpriseSite/js-leaf-hero.js")