.header
    .logo
        a(href='/enterpriseSite/index.html')
            img(src='/images/login.png')
    .function
        span
            a(href='#') 设为首页
        span
            a(href='#') 加入收藏
        span
            a(href='#') 联系我们
    .guang
        img(src='/images/guang.png')
.nav
    ul#nav
        li
            a.pass(href='index.html') 筑宝首页
        li
            a(href='about.html') 走进筑宝
            ul
                li
                    a(href='#') 企业介绍
                li
                    a(href='#') 企业文化
                li
                    a(href='#') 人才战略
                li
                    a(href='#') 合伙伙伴
        li
            a(href='Superiority.html') 筑宝优势1
            ul
                li
                    a(href='#') 团队优势
                li
                    a(href='#') 产品优势
                li
                    a(href='#') 整合优势
        li
            a(href='products.html') 产品中心
            ul
                li
                    a(href='#') 屋面装饰系统
                li
                    a(href='#') 防水保温系列产品
        li
            a(href='example.html') 工程案例
            ul
                li
                    a(href='#') 屋面装饰系统
                li
                    a(href='#') 防水保温系列产品
        li
            a(href='news.html') 新闻中心
            ul
                li
                    a(href='#') 企业咨询
                li
                    a(href='#') 行业新闻
        li
            a(href='contact.html') 联系我们
            ul
                li
                    a(href='#') 联系我们
                li
                    a(href='#') 加盟商须知
                li
                    a(href='#') 客户服务中心