@import '../../libs/qst/src/all'

$oocss();

body {
  background-color: #f8f8f8;
}

.header {
  margin-bottom: 0;
  .navbar-brand a {
    text-decoration none
    color:#777
  }
  .navbar-top-links {
    margin-right: 0;
    li {
      display: inline-block;
      &:last-child {
        margin-right: 15px;
      }
      a {
        padding: 15px;
        min-height: 50px;
        .glyphicon-triangle-bottom {
          font-size: 12px
        }
      }
    }
    .dropdown-menu li {
      display: block;
      &:last-child {
        margin-right: 0;
      }
      a {
        padding: 3px 20px;
        min-height: 0;
        div {
          white-space: normal;
        }
      }
    }
  }
}

// 侧栏导航
.sidebar {
  .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-search {
    padding: 15px;
    .btn{
      outline: 0;
    }
  }
  ul li {
    position: relative
    display: block
    border-bottom: 1px solid #e8e8e8;
    a {
      &.active {
        background-color: $gray-lighter;
      }
      .fa-angle-right{
        float: right
      }
    }
  }
  .nav-second-level li, .nav-third-level li {
    border-bottom: none !important;
  }
  .nav-second-level li a {
    padding-left: 37px;
  }
  .nav-third-level li a {
    padding-left: 52px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

// 主体内容容器

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  overflow: hidden
  background-color: white;
  .breadcrumb{
    margin-top: 20px
    border-bottom: 1px solid #eee;
    border-radius 0
    background-color transparent
    a{
      text-decoration none
    }
  }
}

@media (min-width: 768px) {
  .breadcrumb {
    margin-top: inherit
  }

  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 30px;
    border-left: 1px solid #e8e8e8
  }
}

//当tab遇上panel
.nav-tabs+.panel{
  border-top-width 0
  border-radius 0
  padding: 40px 0
}