extends ../../layout/enterpriseSite

block content
    .banner
        img(src='/enterpriseSite/image/banner/about.jpg')
    .content
        .breadcrumb
            | 您当前位置：
            a(href='index.html') 首页
            |  >
            a(href='#') 走进筑宝
            |  >
            a(href='#') 企业介绍
    .main
        .sidebar
            ul
                h2 走进筑宝
                li.pass
                    a(href='#') 企业介绍
                li
                    a(href='#') 企业文化
                li
                    a(href='#') 人才招聘
                li
                    a(href='#') 合作伙伴
            a(href='contact.html')
                img(src='/enterpriseSite/image/sidebar_img.gif')
        .content
            h2 企业介绍
            .content_main
                p
                    b 杭州筑宝建材有限公司
                    | 是一家集研发、生产、营销、安装和售后服务于一体的规模化大型企业，主要以专业化生产和销售防水材料及屋面建材的企业，同时配套销售墙体保温和装饰材料，
                    b 公司一直致力于为建筑提供系统化材料，为用户提供便捷化服务。
                    | 筑宝公司一贯秉持"厚德育人、合创共赢"的经营理念，汇聚和培养了一支研发型、服务性的专业优秀团队，拥有专业的技术研发人才以及优秀的生产、营销、管理人才达50余人，并拥有自己的研发机构和建材测试中心。公司始终贯彻以市场为导向，坚持诚信立业，品质为本、服务周到和效率第一的原则服务客户和社会，立志取得更大的辉煌。
                p
                    | 公司拥有四个生产基地，均位于杭州的城西余杭工业园区，杭瑞高速余杭中泰出口距离其中三大生产基地均为10公里左右，交通便利。总占地面积达八万平米，其中，防水产品有2个生产基地，主要生产改性沥青防水卷材（SBS/APP）、自粘类新型防水卷材（PET/BAC/预铺/湿铺/及自粘聚合物防水卷材）以及超强新型斜屋面专用垫层材料；屋面装饰材料分为成品天沟系列和高端屋面瓦片生产基地，主要生产成品天沟落水系统（分别为优质PVC、彩铝和金属铜和树脂四大系列），装饰屋面瓦（分别为玻纤瓦、金属瓦和铜瓦三大高端屋面瓦系列）。
                p
                    | 先进的管理和发展模式加上不断的钻研创造，使筑宝在行业和市场中建立了良好知名度，在中国建立了60多个办事机构和500多个专业的代理商，国内外友好合作也日趋增长，产品遍布世界30多个国家和地区。同时筑宝公司与原材料供货商和物流合作商以"和创共赢，集成效益"的理念均达成长期稳定的合作关系，形成一个庞大的服务系统。多年积累发展，筑宝赢得了房产商、建筑商等广大新老客户认可和青睐，并受到当地政府的肯定及支持。
                    | 筑宝公司立足于做大、做强、做精、做稳的发展目标，不断拼搏，进一步加快资源整合的速度，加强加快防水保温以及屋面和墙体的外装饰材料的发展，给建筑物提供系统和高端的建筑材料，将为人类生活品质的提高做出更大的努力和贡献。
                p
                img(src='/enterpriseSite/image/join_sub_bg3.jpg', width='606', height='228')
        .clear