extends ../../layout/enterpriseSite

block content
    .banner
        img(src='Image/banner/about.gif')
    .content
        .breadcrumb
            | 您当前位置：
            a(href='index.html') 首页
            |  >
            a(href='#') 新闻中心
            |  >
            a(href='#') 企业咨询
    .main
        .sidebar
            ul
                h2 新闻中心
                li.pass
                    a(href='#') 企业资讯
                li
                    a(href='#') 行业新闻
            a(href='contact.html')
                img(src='Image/sidebar_img.gif')
        .content
            h2 企业资讯
            .content_tit
                h1 筑宝建材诚招英才筑宝建材诚招英才
                h2 发布日期：2013-1-15 10:57:53 来源：杭州筑宝建材有限公司
            .content_main
                p
                    | 先进的管理和发展模式加上不断的钻研创造，使筑宝在行业和市场中建立了良好知名度，在中国建立了60多个办事机构和500多个专业的代理商，国内外友好合作也日趋增长，产品遍布世界30多个国家和地区。同时筑宝公司与原材料供货商和物流合作商以"和创共赢，集成效益"的理念均达成长期稳定的合作关系，形成一个庞大的服务系统。多年积累发展，筑宝赢得了房产商、建筑商等广大新老客户认可和青睐，并受到当地政府的肯定及支持。
                p
                    | 先进的管理和发展模式加上不断的钻研创造，使筑宝在行业和市场中建立了良好知名度，在中国建立了60多个办事机构和500多个专业的代理商，国内外友好合作也日趋增长，产品遍布世界30多个国家和地区。同时筑宝公司与原材料供货商和物流合作商以"和创共赢，集成效益"的理念均达成长期稳定的合作关系，形成一个庞大的服务系统。多年积累发展，筑宝赢得了房产商、建筑商等广大新老客户认可和青睐，并受到当地政府的肯定及支持。
            .paging
                a(href='#') 上一篇
                span
                a(href='#') 下一篇
        .clear