extends ../../layout/enterpriseSite

block content
    .banner
        img(src='/enterpriseSite/image/banner/superiority.jpg')
    .content
        .breadcrumb
            | 您当前位置：
            a(href='index.html') 首页
            |  >
            a(href='#') 筑宝优势
            |  >
            a(href='#') 团队优势
    .main
        .sidebar
            ul
                h2 筑宝优势
                li.pass
                    a(href='#') 团队优势
                li
                    a(href='#') 产品优势
                li
                    a(href='#') 整合优势
            a(href='contact.html')
                img(src='/enterpriseSite/image/sidebar_img.gif')
        .content
            h2 团队优势
            .content_main
                p
                    | 先进的管理和发展模式加上不断的钻研创造，使筑宝在行业和市场中建立了良好知名度，在中国建立了60多个办事机构和500多个专业的代理商，国内外友好合作也日趋增长，产品遍布世界30多个国家和地区。同时筑宝公司与原材料供货商和物流合作商以"和创共赢，集成效益"的理念均达成长期稳定的合作关系，形成一个庞大的服务系统。多年积累发展，筑宝赢得了房产商、建筑商等广大新老客户认可和青睐，并受到当地政府的肯定及支持。
                p
                    | 先进的管理和发展模式加上不断的钻研创造，使筑宝在行业和市场中建立了良好知名度，在中国建立了60多个办事机构和500多个专业的代理商，国内外友好合作也日趋增长，产品遍布世界30多个国家和地区。同时筑宝公司与原材料供货商和物流合作商以"和创共赢，集成效益"的理念均达成长期稳定的合作关系，形成一个庞大的服务系统。多年积累发展，筑宝赢得了房产商、建筑商等广大新老客户认可和青睐，并受到当地政府的肯定及支持。
                p
                img(src='/enterpriseSite/image/join_sub_bg3.jpg', width='606', height='228')
        .clear