link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/libs/AdminLTE/dist/css/AdminLTE.min.css",rel="stylesheet")
link(href="/libs/AdminLTE/dist/css/skins/_all-skins.min.css",rel="stylesheet")
link(href="/admin/style/base.css",rel="stylesheet")
