extends ../../../layout/admin
block style
    link(href="/libs/editor/paper.css",rel="stylesheet")
    link(href="/libs/editor/editor.css",rel="stylesheet")
    link(href="/libs/editor/vendor/icomoon/style.css",rel="stylesheet")

block content
    .row
        .col-sm-12
            .box
                .box-body
                    form#describeForm(method="POST",action="/admin/describe")
                        .editor-wrapper
                            textarea#editor(name="editor",placeholder='Content here ....') #{doc}
    .row.text-left
        .col-sm-12
            a.btn.btn-primary#submitBtn 提交
block script
    script.
        require(['jquery','module/editor-markdown'], function (abc,Editor) {
            var editor = new Editor();
            editor.render();

            $('#submitBtn').on('click',function(){
                $('#describeForm').submit();
            });
        });