doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title #{title}
        include ../includes/enterpriseSite/head
        block style

    body
        .wrapper
            include ../includes/enterpriseSite/header
            block content
            include ../includes/enterpriseSite/footer
            block script
