extends ../../../layout/admin
block style
    style.
        .simditor-title {
            font: 18px "Helvetica Neue", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
            background: transparent;
            padding: 4px;
            width: 100%;
            border: none;
            outline: none;
            opacity: 0.6;
            margin-bottom: 10px;
        }

        .form-horizontal .form-group {
            margin-right: 0;
            margin-left: 0;
        }

block content
    .row
        .col-sm-12
            .panel.panel-default
                .panel-body
                    form.form-horizontal.clearfix#formMain(method="POST",action="/admin/enterpriseSite/news/add")
                        .form-group.col-sm-12
                            .row
                                .panel.panel-default
                                    .panel-heading 编辑文章
                                    .panel-body
                                        input.simditor-title(type="text",placeholder="请输入新闻标题 ...")
                                        textarea#editor(placeholder="Balabala")
                            .row.m_t_20
                                .panel.panel-default
                                    .panel-heading 其它设置
                                    .panel-body
                                        .form-group.col-sm-12
                                            label.col-sm-2.control-label(for="isShow") 显示
                                            .col-sm-6.col-md-3
                                                input#isShow(type="checkbox",name="isShow",value="1",checked)
                                        .form-group.col-sm-12
                                            label.col-sm-2.control-label(for="classify") 文章类别
                                            .col-sm-3
                                                select#classify.form-control(name="classify")
                                                    option(value='0') 企业资讯
                                        .form-group.col-sm-12
                                            label.col-sm-2.control-label(for="source") 来源
                                            .col-sm-6.col-md-3
                                                input#source.form-control(type="text",name="source",placeholder="请输入新闻来源,默认为企业名称",value="")
                                        .form-group.col-sm-12
                                            label.col-sm-2.control-label(for="cover") 封面图
                                            .col-sm-6.col-md-3
                                                input#cover.form-control(type="file",name="cover",multiple="multiple",value="123")
                                            .col-sm-3
                                                a.form-control-static.dis_ib(href="javascript:;",data-toggle="collapse" data-target="#collapseExample") 已有上传图片, 查看缩略图
                                        #collapseExample.form-group.col-sm-12.collapse
                                            label.col-sm-2.control-label(for="cover") 缩略图
                                            .col-sm-6.col-md-3
                                                .form-control.h_a
                                                    img(src="/images/manageNav/three.png")
                                            .col-sm-2
                                                a.form-control-static.dis_ib(href="javascript:;") 删除

                            .row
                                button.btn.btn-primary#submitBtn(type="button") 提交


block script
    script.
        require(['page/enterpriseSite/newsAdd']);
