extends ../../../layout/admin

block content
    .row
        .col-sm-12
            .panel.panel-default
                .panel-heading  新闻管理
                .panel-body
                    .row
                        .col-sm-12.col-md-3.col-lg-2
                            .list-group
                                a.list-group-item.active(href='javascript:;')
                                    | 全部
                                    span.badge 123
                                a.list-group-item(href='javascript:;') 企业资讯
                                a.list-group-item(href='javascript:;') 行业新闻
                                a.list-group-item(href='###',data-toggle="modal",data-target="#modifyModal",data-title="添加分类",data-body="addUserGroup")
                                    i.fa.fa-plus
                                    | &nbsp;添加分类

                        .col-sm-12.col-md-9.col-lg-10
                            .panel.panel-default
                                .panel-heading
                                    span.panel-title 全部&nbsp;&nbsp;
                                    a(href='###',data-toggle="modal",data-target="#modifyModal",data-title="重命名分类",data-body="userGroupRename") 重命名
                                    | &nbsp;&nbsp;
                                    a#deleteClassifyBtn(href='/admin/enterpriseSite/newsClassify?classify=#{classifyId}') 删除
                                .panel-body
                                    .table-responsive
                                        table.table.table-hover.table-striped
                                            thead
                                                tr
                                                    th 标题
                                                    th 来源
                                                    th 发布日期
                                                    th 作者
                                                    th 面浏览
                                                    th 显示
                                                    th 操作
                                                    th 操作
                                            tbody
                                                tr
                                                    td
                                                        a(href="#",target="_blank") 123123
                                                    td 杭州筑宝建材有限公司
                                                    td 2015-12-10
                                                    td admin
                                                    td 12
                                                    td ×
                                                    td
                                                        a(href="#") 修改
                                                    td
                                                        a(href="#") 删除
                                                tr
                                                    td
                                                        a(href="#",target="_blank") 123123
                                                    td 杭州筑宝建材有限公司
                                                    td 2015-12-10
                                                    td admin
                                                    td 12
                                                    td ×
                                                    td
                                                        a(href="#") 修改
                                                    td
                                                        a(href="#") 删除
                                                tr
                                                    td
                                                        a(href="#",target="_blank") 123123
                                                    td 杭州筑宝建材有限公司
                                                    td 2015-12-10
                                                    td admin
                                                    td 12
                                                    td x
                                                    td
                                                        a(href="#") 修改
                                                    td
                                                        a(href="#") 删除

                                    .row.text-left
                                        .col-sm-12
                                            a.btn.btn-primary(href="/admin/enterpriseSite/news/add") 添加

    #modifyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modifyModalLabel')
        .modal-dialog(role='document')
<<<<<<< Updated upstream
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#modifyModalLabel.modal-title
                #addUserGroup.modal-body.hidden
                    form
                        .form-group
                            label.control-label(for='recipient-name') 分类名:
                            input#recipient-name.form-control(type='text')
                #addUser.modal-body.hidden
                    form
                        .form-group
                            label.control-label(for='recipient-name') 用户名:
                            input#recipient-name.form-control(type='text')
                        .form-group
                            label.control-label(for='recipient-name') 密码:
                            input#recipient-name.form-control(type='password')
                        .form-group
                            label.control-label(for='recipient-name') 确认密码:
                            input#recipient-name.form-control(type='password')
                        .form-group
                            label.control-label(for='message-text') 描述:
                            textarea#message-text.form-control(rows="3")
                #userNote.modal-body.hidden
                    form
                        .form-group
                            label.control-label(for='message-text') 描述:
                            textarea#message-text.form-control(rows="3")
                #userGroupRename.modal-body.hidden
                    form
=======
            form(method="POST",action="/admin/enterpriseSite/newsClassify")
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#modifyModalLabel.modal-title
                    #addClassify.modal-body.hidden
                        input(type="hidden",name="classify[_id]",value="#{classifyId}")
                        input(type="hidden",name="classify[parent]",value="#{classifyParent}")
>>>>>>> Stashed changes
                        .form-group
                            label.control-label(for='recipient-name') 分类名:
                            input#recipient-name.form-control(type='text')
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Submit

block script
    script.
        require(['jquery'], function () {
            $('#modifyModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                $(this)
                        .find('.modal-title').text(button.data('title'))
                        .end().find('.modal-body').addClass('hidden');
                $('#' + button.data('body')).removeClass('hidden');
            });
        });