extends ../../layout/enterpriseSite
block content
    .banner
        img(src='/images/banner/contact.jpg')
    .content
        .breadcrumb
            | 您当前位置：
            a(href='index.html') 首页
            |  >
            a(href='#') 联系我们
    .main
        .sidebar
            ul
                h2 产品中心
                li.pass
                    a(href='#') 联系我们
                li
                    a(href='#') 加盟商须知
                li
                    a(href='#') 客户服务中心
            a(href='contact.html')
                img(src='/images/sidebar_img.gif')
        .content
            h2 联系我们
            .content_main
                .contact
                    p 联系人:陈先生
                    p 手机:0571-88638189
                    p 传真:0571-88638117
                    p E-mail:info@audier.cn
                    p 屋面瓦片生产基地：浙江杭州余杭中泰工业园
                    p 落水系统生产基地：浙江杭州余杭义桥工业园
    .clear