extends ../../layout/enterpriseSite

block content
    .banner
        img(src='/images/banner/example.jpg')
    .content
        .breadcrumb
            | 您当前位置：
            a(href='index.html') 首页
            |  >
            a(href='#') 工程案例
            |  >
            a(href='#') 屋面装饰系统
    .main
        .sidebar
            ul
                h2 工程案例
                li.pass
                    a(href='#') 屋面装饰系统
                li
                    a(href='#') 防水保温系列产品
            a(href='contact.html')
                img(src='/images/sidebar_img.gif')
        .content
            h2 屋面装饰系统
            .content_main
                ul.example_list
                    li
                        a(href='newsShow.html')
                            img(src='/images/gc.jpg')
                        p
                            a(href='newsShow.html') XXXX有限公司
                        span 2013
                        .clear
                    li
                        a(href='newsShow.html')
                            img(src='/images/gc.jpg')
                        p
                            a(href='newsShow.html') XXXX有限公司
                        span 2013
                        .clear
                    li
                        a(href='newsShow.html')
                            img(src='/images/gc.jpg')
                        p
                            a(href='newsShow.html') XXXX有限公司
                        span 2013
                        .clear
                    li
                        a(href='newsShow.html')
                            img(src='/images/gc.jpg')
                        p
                            a(href='newsShow.html') XXXX有限公司
                        span 2013
                        .clear
                    li
                        a(href='newsShow.html')
                            img(src='/images/gc.jpg')
                        p
                            a(href='newsShow.html') XXXX有限公司
                        span 2013
                        .clear
                    li
                        a(href='newsShow.html')
                            img(src='/images/gc.jpg')
                        p
                            a(href='newsShow.html') XXXX有限公司
                        span 2013
                        .clear
                    li
                        a(href='newsShow.html')
                            img(src='/images/gc.jpg')
                        p
                            a(href='newsShow.html') XXXX有限公司
                        span 2013
                        .clear
                    li
                        a(href='newsShow.html')
                            img(src='/images/gc.jpg')
                        p
                            a(href='newsShow.html') XXXX有限公司
                        span 2013
                        .clear
                .paging
                    a(href='#') 首页
                    a(href='#') 上一页
                    span 1
                    a(href='#') 下一页
                    a(href='#') 尾页
        .clear