extends ../../layout/enterpriseSite

block content
    .banner
        img(src='/images/banner/news.jpg')
    .content
        .breadcrumb
            | 您当前位置：
            a(href='index.html') 首页
            |  >
            a(href='#') 新闻中心
            |  >
            a(href='#') 企业咨询
    .main
        .sidebar
            ul
                h2 新闻中心
                li.pass
                    a(href='#') 企业资讯
                li
                    a(href='#') 行业新闻
            a(href='contact.html')
                img(src='/images/sidebar_img.gif')
        .content
            h2 企业资讯
            .content_main
                ul.news_list
                    li
                        span 2013-1-9
                        a(href='newsShow.html') 筑宝建材诚招英才筑宝建材诚招英才
                    li
                        span 2013-1-9
                        a(href='newsShow.html') 筑宝建材诚招英才筑宝建材诚招英才
                    li
                        span 2013-1-9
                        a(href='newsShow.html') 筑宝建材诚招英才筑宝建材诚招英才
                    li
                        span 2013-1-9
                        a(href='newsShow.html') 筑宝建材诚招英才筑宝建材诚招英才
                    li
                        span 2013-1-9
                        a(href='newsShow.html') 筑宝建材诚招英才筑宝建材诚招英才
                    li
                        span 2013-1-9
                        a(href='newsShow.html') 筑宝建材诚招英才筑宝建材诚招英才
                    li
                        span 2013-1-9
                        a(href='newsShow.html') 筑宝建材诚招英才筑宝建材诚招英才
                    li
                        span 2013-1-9
                        a(href='newsShow.html') 筑宝建材诚招英才筑宝建材诚招英才
                .paging
                    a(href='#') 首页
                    a(href='#') 上一页
                    span 1
                    a(href='#') 下一页
                    a(href='#') 尾页
        .clear